
h1, h2, h3, p, a, ol{
    
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #0e0e0e;
    height: 9000px;
    margin: 0;
    width: 100vw;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}


header {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  align-items: center;
}



.menuToggle {
  display: block;
  position: fixed;
  top: 40px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  a {
    text-decoration: none;
    color: #d5d5d5;
    font-size: 15pt;
    transition: all 0.3s ease;
    &:hover {
      color: aqua;
    }
  }
  input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }
  span {
    position: relative;
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                /* background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), */
                opacity 0.55s ease;
    &:first-child {
      transform-origin: 0% 0%;
    }
    &:nth-last-child(2) {
      transform-origin: 0% 100%;
    }
  }
}

.menuToggle {
  input {
    &:checked ~ span {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: aqua;
      &:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }
      &:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
      }
    }
    &:checked ~ .menuItem {
      transform: none;
    }
    
  }
}

.menuItem {
  position: absolute;
  width: 340px;
  height: 100vw;
  padding: 50px;
  padding-top: 125px;
  background: #0a0a0a48;
  backdrop-filter: blur(5px);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  li {
    padding: 10px 0;
    font-size: 22px;
  }
}

.menu--left {
  position: relative;
  width: 50%;
  .menuToggle {
    left: 0;
    input {
      left: 50px;
    }
    span {
      left: 50px;
    }
  }
  .menuItem {
    left: 50px;
    margin: -100px 0 0 -50px;
    transform: translate(-100%, 0);
  }
}


#Accueil {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: flex-start;
    align-items:first baseline;
    height: 700px;
    width: 100%;
  

}
#Accueil iframe{
    width: 100%;

}


.titre {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 5px;
    flex-direction: column;


}



#Apropos {
 
    width: 70%;
    border: 2px solid #c1c2c4;
    border-radius: 25px;
    display: flex;
    margin: 0 auto;
    
}

#Apropos img{
    width: 300px;
    display: flex;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 6px 5px 5px rgb(0, 247, 255);
    margin-right: 30px;
    transition: transform 0.3s ease-in-out;
    
} 

#Apropos img:hover{
    box-shadow: 6px 5px 5px rgb(209, 213, 213);
    transform: scale(1.1);
} 




/* section{
    border: solid 2px rebeccapurple;
    /* Exemple pour réduire la marge pour les sections */
  
/* }  */

#Competences {
    display:flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 69%;
    top: 150px;
  
  

}
p{
    text-align: justify;
}
 h1{
    font-size: 30pt;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
}
.cards{
    display: inline-block;
    flex-direction: column;
    padding: 30px;
    margin: 20px;
    height: fit-content;
    margin-top: 100px;
    width: 100%;
    top: 100px;
    height: 2000px;
    border-radius: 25px;
    transition-duration: 5ms;
    pointer-events: none;
    border: 1px solid #e7e7e7;
}
.cards ::after{
    color: aqua;
}
.cards .bx{
    justify-content: left;
    display: flex;
    flex-direction: row;
    width: 100px;
    color: white;
    margin: 10px;
    font-size: 50px;
}
.cards img{
    justify-content: left;
    width: 60px;
    color: white;
    margin: 10px;
}
.cards p{
    color: white;
    font-size: 12pt;
    font-weight: bold;
    text-align: left;
    line-height: 2rem;
}

* {box-sizing: border-box}

.container {
  width: 90%;
  background-color: #d3d3d3;
  margin-top: 20px;
  border-radius: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  width: 80%;
  
}

.skills {
    text-align: right;
    color: rgb(68, 68, 68);
    height: 20px;
    border-radius: 20px;
    background-color: #00eaff; 
    font-family: 'Roboto', sans-serif; 
    font-weight: bold;
}
/* 
.html {width: 90%; background-color: #00eaff; font-family: 'Roboto', sans-serif; font-weight: bold;}
.css {width: 80%; background-color: #00eaff; font-family: 'Roboto', sans-serif; font-weight: bold;}
.js {width: 35%; background-color: #00eaff; font-family: 'Roboto', sans-serif; font-weight: bold;}
.php {width: 10%; background-color: #00eaff; font-family: 'Roboto', sans-serif; font-weight: bold;}
.babylon {width: 30%; background-color: #00eaff; font-family: 'Roboto', sans-serif; font-weight: bold;}
.frameworks {width: 30%; background-color: #00eaff; font-family: 'Roboto', sans-serif; font-weight: bold;} */

.container button {
    width: 70%;
    height: 30px;
    background-color: #003cff;
    border-radius: 20px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
  }
  
 .container button:hover {
    width: 110px;
    height: 60px;
    background-color: #00eaff;
    color: #fff;
  }



#Postes{
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin: 0 auto;
    border-radius: 10px;
    border: 2px solid #232425;
    width: 100%;


}
#Postes .date img{
    width: 90%;
    display: flex;
   

}
.date{

   display: flex;
   flex-direction: column;
   margin-right: 20px;
   justify-content: center;
   align-items: center;

}
.date p{
    
    color: aqua;

}
#Postes img{
    width: 20%;
    border-radius: 10px;
}
#Postes h1{
    font-size: 18pt;
    text-align: justify;
    display: flex;
    margin: 0 auto;
    margin-top: 5px;
}
.exp p{
    font-size: 12pt;
    display: flex;
    margin: 0 auto;
    text-align: justify;
    width: auto;
    color: #e2e2e4;
    width: 60%;
    line-height: 1.5rem;
}
.cv{
    background-color: #e7f4f5;
    color: aqua;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    width: 40%;
    display: flex;
    margin: 0 auto;
    height: 40px;
}
.cv:hover {
    background-color: aqua;
    transition: all 0.3s ease-in-out;
  }
.cv a{
    list-style: none;
    text-decoration: none;
    color: #18191a;
}

#Formation{
   height: 1000px;
    
}

.max-w-screen-xl{
    display: flex;
    margin: 0 auto;
    border: 1px solid #f1f1f1;
    border-radius: 25px;
    width: 95%;


}
.mx-auto{
    width: 90%;
    margin-top: 100px;
}
.-mt-3{
 
}
.-mt-2 .rounded-2xl{
   margin: 20px;

}
.-mt-2 .rounded-2xl :hover{

    transition: all 0.3s ease-in-out;
    background-color: rgb(6, 124, 243);
 
 }


p{
    font-size: 15pt;
}
#Experiences {
    width: 70%;
    display: flex;
    margin: 0p auto;
    width: 100%;

}

/* Ajoutez ces styles pour l'effet d'apparition de l'image */
/* Ajoutez ces styles pour l'effet d'apparition de l'image */
.image-container {
    /* overflow: hidden; */
    max-height: 0;
    transition: max-height 0.3s ease-out;
  }
  
  .hidden-image {
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }
  
  /* Lors du survol, montrez l'image */
  a:hover .image-container {
    max-height: 200px; /* Hauteur de l'image en pixels */
  }
  
  .block-.rounded-2xl .hidden-image {
    opacity: 1;
  }
  
  .block{
    border: 1px solid rgb(134, 138, 138);
    /* transition-duration: 1s; */
    transition: max-height 0.3s ease-out;
    /* padding: 15px; */
    margin: 10px;
  }
 /* .mx-auto .mt-8 :hover{
    border: 2px solid aqua;
    transition: all;
    

  } */

  /* Styles par défaut pour l'élément <a> */
.block {
    position: relative;
    /* Autres styles par défaut de l'élément <a> avec la classe .block */
  }
  
  /* Pseudo-élément pour l'effet de survol */
  .block::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: inherit;
    transition: opacity 0.2s ease-in-out;
    background-color: transparent; /* Couleur de fond pour l'effet de survol */
    opacity: 0; /* Par défaut, pas visible */
  }
  
  /* Effet de survol */
  .block:hover::before {
    opacity: 1; /* Rendre le pseudo-élément visible au survol */
    background-color: rgb(27, 27, 27); 
    border: 1px solid rgb(0, 255, 255);
    box-shadow: 0 0 20px rgba(224, 222, 223, 0.5); /* Ombre portée au survol */
    /* Autres styles pour l'effet de survol si nécessaire */
  }
  


#projet{
    height:1200px;
    border: 1px solid #e7e7e7;
    width: 90%;
    padding: 20px;
    display: block;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    flex-direction: row;
}
#projet iframe, svg{
 height: 900px;
 flex-direction: column;
border-radius: 25px;
width: 100%;
}

#projet i{ 
    color: rgb(215, 219, 219);
    padding: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
#projet .bx{
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
}

#projet p{
    color: white;
    display: block;
    width: 60%;
    line-height: 2em;
    padding:10px;
    font-size: 14pt;
    font-weight: 600;

}
  

.relative .bx{
    font-size: 40px;
    margin-top: 20px;
}
/* bouton  */


/* *politque rgpd  */

/* Style pour la fenêtre modale */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
form a {
   color: white;
}
@media screen and (min-width: 340px) and (max-width: 1400px) {
    /* Styles pour la plage de 551px à 750px */
    body{
    height: 15000px;
    margin: 0;
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}
#Accueil {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: flex-start;
  align-items:first baseline;
  height: 1000px;
  width: 100%;
  /* border-radius: 25px;
  border: 1px solid #e7e7e7;
*/

}
#Competences {
    display:flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 20px;
    
    

}
#Apropos {
 
    width: 90%;
    border: 2px solid #c1c2c4;
    border-radius: 25px;
    display: flex;
    margin: 0 auto;
    
}
#Apropos img{
  width: 200px;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 6px 5px 5px rgb(0, 247, 255);
  margin-right: 30px;
  transition: transform 0.3s ease-in-out;
  
} 
#Formation{
    height: 1900px;
     
 }

 #projet{
    height: 1400px;
    border: 1px solid #e7e7e7;
    width: 95%;
    padding: 20px;
    display: block;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    flex-direction: row;
}
 #projet p{
   display: none;

}
#projet iframe, svg{
    height: 1000px;
    flex-direction: column;
   border-radius: 25px;
   width: 100%;
   }
   .menu--left .menuItem {
    height: 100vh;
  }

}

.mt-4 a{
  display: block;
 }