/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


body {
    background-color: #18191a;
    height: 6000px;
    margin: 0;
    width: 85%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

nav {
    background-color: #3f3f41f5;
    width: 100%;
    position: fixed;
    justify-content: center;
    align-items: center;
}

nav ul {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;

}

nav li a {

    color: white;
    font-size: 11pt;
    padding: 12px;
    list-style: none;
    margin-right: 20px;
    text-decoration: none;

    transition-duration: 2ms;
    font-family: 'Montserrat', sans-serif;
}

nav li a:hover {
    color: aqua;
}


nav {

    height: 50px;
    background-attachment: fixed;
    background: rgb(59, 59, 59);
    position: fixed;
    align-items: center;
    display: flex;
    top: 0px;
    width: 75%;
    z-index: 3;


}

ol {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;

}

ol li a {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    font-weight: 200;
    letter-spacing: 2px;
    text-align: center;
    text-decoration: none;
    padding: 30px;

}

.bx {
    width: 50px;
    margin-left: 30px;
    color: rgb(0, 255, 255);
    font-size: 50px;

}

nav .bx {
    display: none;
}

#Accueil {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    height: 900px;
    width: 100%;
    /* background-image: url(msi.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: contain; */



}

#Accueil h1 {
    color: white;
    font-size: 20pt;
    

}

#Accueil h2 {
    color: white;
    font-size: 190px;
    font-family: 'Happy Farmhouse', sans-serif;


    text-align: center;
    background: linear-gradient(207deg, rgba(47,43,125,1) 0%, rgba(18,219,207,1) 56%, rgba(0,121,255,1) 100%);
    -webkit-background-clip: text;
    /* Pour WebKit (Safari/Chrome) */
    color: transparent;
    /* Rend le texte transparent */

}

#Accueil p {

    font-size: 60pt;
    padding: 20px;
    font-family: 'Happy Farmhouse', sans-serif;

    text-align: center;
    background: linear-gradient(207deg, rgba(47,43,125,1) 0%, rgba(18,219,207,1) 56%, rgba(0,121,255,1) 100%);
    -webkit-background-clip: text;
    /* Pour WebKit (Safari/Chrome) */
    color: transparent;
    /* Rend le texte transparent */


}

#Accueil .titre {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}
.animate__animated.animate__bounce {
    --animate-duration: 2s;
  }
  
  /* This changes all the animations globally */
  :root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
  }
#Accueil img{
    display: flex;
    width: 20%;
    
}




@media screen and (min-width: 340px) and (max-width: 1400px) {
    /* Styles pour la plage de 551px à 750px */
    /* body{
    background-color: #18191a;
    height: 6000px;
    margin: 0;
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
} */

    nav .bx {
        display: block;
    }

    ol li a {
        display: block;

    }

    .bx {
        width: 100%;
        margin-left: 10px;
        color: rgb(15, 235, 235);
        font-size: 60px;

    }


    nav ol {
        display: none;
    }

    nav:hover ol {
        display: flex;
        flex-direction: column;

    }

    nav:hover {
        height: 100vh;
        width: 75%;
        background-color: #3531314f;
        backdrop-filter: blur(9px);
    }

    nav:hover .bx {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        color: aqua;
    }
}